.filters_container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.filters_container > div {
    width: 100%;
    height: auto;
}

.filters_container div label {
    font-size: 1.5rem;
    background-color: #fff;
}

.filters_container div input {
    font-size: 1.5rem;
}

.filters_container div svg {
    font-size: 2.5rem;
}

.filters_container > label {
    margin-top: 20px;
    margin-bottom: 12px;
}

@media (min-width: 720px) {
    .filters_container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .filters_container > div {
        width: 300px;
    }
}
