.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar button {
    padding: 4px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 12px;

    text-decoration: none;
    cursor: pointer;
}

.navbar img {
    width: 100%;
}
