.btn {
  font-size: var(--fs-xl);
  color: var(--clr-primary);
}

.btn:focus-visible {
  outline: 0.2rem solid var(--clr-primary);
  outline-offset: 0.3rem;
}

.btn i {
  display: block;
}

.filled {
  font-family: 'uicons-filled' !important;
}
