.Home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Movie_card_container {
  width: 95%;
  margin: 20px auto 20px;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffffc;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.Movie_card_img {
  width: 30%;
  height: 100%;
}

.Movie_card_img img {
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s;
}

.Movie_card_img img:hover {
  transform: scale(1.04);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.Movie_card_description {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 66%;
}

.Movie_card_description > p {
  margin-bottom: 12px;
}

.movie_rating {
  display: flex;
  flex-direction: column;
}

.movie_rating p {
  color: lightgrey;
}

@media (min-width: 768px) {
  .Movie_card_container {
    width: 80%;
  }

  .movie_rating {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1080px) {
  .Movie_card_container {
    width: 40%;
  }
}
