
/*my code*/
/*html,
body {
  padding: 0;
  margin: 0;
  background:#cbcbd7;
  border-radius: 20px 20px 0px 0px;*/
  


/*a {
  color: inherit;
  text-decoration: none;
}*/

/** {
  box-sizing: border-box;
}*/

.header{
  background:#f06351;
  height: 57px;
  border-radius: 20px 20px 0px 0px;
}



.card_container{
  width: 302px;
  /*margin-right: -80px;*/
  margin-left: 100px;
  max-width:1170px;
  /*margin: 5rem auto;*/
  margin-top: 5rem;
  margin-right: 70px;
  display: grid;
  gap: 2rem;
  padding: 0;
  align-items: center;
}

@media screen and (max-width:450px){
  .main_container{
      grid-template-rows: repeat(2, 1fr);
      
  }
}

.card1 {
  /*background: #fff;*/
  border-radius: 1rem;
  /*padding:1rem 2rem;*/
  /*background:#ffff;*/
  background: aqua;
}

.card1 h3{
  text-align: center;
  margin-top: -10px;
  font-size: 12px;
  margin-left: 100px;
}
.card1 h4{
  text-align: center;
  margin-top: -10px;
  font-size: 8px;
  margin-left: 100px;
}

.description{
  font-size: 7.5px;
  width: 150px;
  height: 61px;
  margin-left: 140px;
  text-align: justify;
  margin-top: -9px;
}

.star_rating{
  margin-top: 20px;
  margin-left:150px;

}

.off{
  height: 1px;