.Login_wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.Login_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Login_container h1 {
  padding: 0 40px 40px;
  text-align: center;
  color: #273b47;
}

.Login_form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Login_form input {
  width: 280px;
  height: 60px;
  margin: 10px auto 0;
  padding-left: 16px;
  border: 1px solid var(--clr-primary);
  border-radius: 24px;
  outline: none;
  font-size: var(--fs-lg);
}

.Login_form button {
  width: 140px;
  height: 60px;
  margin: 10px auto 0;
  border: none;
  border-radius: 24px;
  color: #fffffc;
  background-color: var(--clr-primary);
}

.Login_form a {
  margin: 10px auto 0;
  font-size: var(--fs-md);
  color: blue;
}

.Login_signin {
  width: 280px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Login_signin a {
  text-decoration: underline;
  font-size: var(--fs-md);
  color: blue;
}

.Login_socialMedia {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Login_socialMedia button {
  width: 280px;
  height: 60px;
  border-radius: 24px;
  color: #fffffc;
}

.Login_socialMedia_Facebook {
  background-color: #3b5998;
}

.Login_socialMedia_Twitter {
  background-color: #00acee;
  margin-top: 10px;
}
