.container {
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logIn,
.signIn {
    display: flex;
    flex-direction: column;
}
